<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeDkzRpHsOXfqkr4PqwZtIgv33ssS92wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>391801272133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pet.animalqr</string>
	<key>PROJECT_ID</key>
	<string>animalqr-58b0f</string>
	<key>STORAGE_BUCKET</key>
	<string>animalqr-58b0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391801272133:ios:1cfec6bd6b7ff76b7b702c</string>
</dict>
</plist>